<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.projectmanager.dao.domain.AddressInfoMapper" >
  <resultMap id="BaseResultMap" type="com.winter.projectmanager.bean.po.AddressInfo" >
    <id column="ConsigneeId" property="consigneeid" jdbcType="VARCHAR" />
    <result column="Consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="Location" property="location" jdbcType="VARCHAR" />
    <result column="DetailedAddress" property="detailedaddress" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ConsigneeId, Consignee, phone, Location, DetailedAddress, Remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.winter.projectmanager.bean.po.AddressInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from addressinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from addressinfo
    where ConsigneeId = #{consigneeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from addressinfo
    where ConsigneeId = #{consigneeid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.winter.projectmanager.bean.po.AddressInfoExample" >
    delete from addressinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.winter.projectmanager.bean.po.AddressInfo" >
    insert into addressinfo (ConsigneeId, Consignee, phone, 
      Location, DetailedAddress, Remark
      )
    values (#{consigneeid,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{detailedaddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winter.projectmanager.bean.po.AddressInfo" >
    insert into addressinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="consigneeid != null" >
        ConsigneeId,
      </if>
      <if test="consignee != null" >
        Consignee,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="location != null" >
        Location,
      </if>
      <if test="detailedaddress != null" >
        DetailedAddress,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="consigneeid != null" >
        #{consigneeid,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="detailedaddress != null" >
        #{detailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.winter.projectmanager.bean.po.AddressInfoExample" resultType="java.lang.Integer" >
    select count(*) from addressinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update addressinfo
    <set >
      <if test="record.consigneeid != null" >
        ConsigneeId = #{record.consigneeid,jdbcType=VARCHAR},
      </if>
      <if test="record.consignee != null" >
        Consignee = #{record.consignee,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        Location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.detailedaddress != null" >
        DetailedAddress = #{record.detailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update addressinfo
    set ConsigneeId = #{record.consigneeid,jdbcType=VARCHAR},
      Consignee = #{record.consignee,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      Location = #{record.location,jdbcType=VARCHAR},
      DetailedAddress = #{record.detailedaddress,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.winter.projectmanager.bean.po.AddressInfo" >
    update addressinfo
    <set >
      <if test="consignee != null" >
        Consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        Location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="detailedaddress != null" >
        DetailedAddress = #{detailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ConsigneeId = #{consigneeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winter.projectmanager.bean.po.AddressInfo" >
    update addressinfo
    set Consignee = #{consignee,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      Location = #{location,jdbcType=VARCHAR},
      DetailedAddress = #{detailedaddress,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where ConsigneeId = #{consigneeid,jdbcType=VARCHAR}
  </update>
</mapper>