<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.wjysweb.web.dao.domain.AddressManagerMapper" >
  <resultMap id="BaseResultMap" type="com.sinosoft.wjysweb.web.bean.po.AddressManager" >
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="userID" property="userid" jdbcType="VARCHAR" />
    <result column="Consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="DetailedAddress" property="detailedaddress" jdbcType="VARCHAR" />
    <result column="Label" property="label" jdbcType="VARCHAR" />
    <result column="ValidStatus" property="validstatus" jdbcType="VARCHAR" />
    <result column="CreatTime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, userID, Consignee, phone, address, DetailedAddress, Label, ValidStatus, CreatTime, 
    UpdateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sinosoft.wjysweb.web.bean.po.AddressManagerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from addressmanager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from addressmanager
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from addressmanager
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinosoft.wjysweb.web.bean.po.AddressManagerExample" >
    delete from addressmanager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinosoft.wjysweb.web.bean.po.AddressManager" >
    insert into addressmanager (UUID, userID, Consignee, 
      phone, address, DetailedAddress, 
      Label, ValidStatus, CreatTime, 
      UpdateTime)
    values (#{uuid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{detailedaddress,jdbcType=VARCHAR}, 
      #{label,jdbcType=VARCHAR}, #{validstatus,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.wjysweb.web.bean.po.AddressManager" >
    insert into addressmanager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="consignee != null" >
        Consignee,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="detailedaddress != null" >
        DetailedAddress,
      </if>
      <if test="label != null" >
        Label,
      </if>
      <if test="validstatus != null" >
        ValidStatus,
      </if>
      <if test="creattime != null" >
        CreatTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailedaddress != null" >
        #{detailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="validstatus != null" >
        #{validstatus,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinosoft.wjysweb.web.bean.po.AddressManagerExample" resultType="java.lang.Integer" >
    select count(*) from addressmanager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update addressmanager
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.consignee != null" >
        Consignee = #{record.consignee,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.detailedaddress != null" >
        DetailedAddress = #{record.detailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.label != null" >
        Label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.validstatus != null" >
        ValidStatus = #{record.validstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creattime != null" >
        CreatTime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update addressmanager
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      userID = #{record.userid,jdbcType=VARCHAR},
      Consignee = #{record.consignee,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      DetailedAddress = #{record.detailedaddress,jdbcType=VARCHAR},
      Label = #{record.label,jdbcType=VARCHAR},
      ValidStatus = #{record.validstatus,jdbcType=VARCHAR},
      CreatTime = #{record.creattime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.wjysweb.web.bean.po.AddressManager" >
    update addressmanager
    <set >
      <if test="userid != null" >
        userID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        Consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailedaddress != null" >
        DetailedAddress = #{detailedaddress,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        Label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="validstatus != null" >
        ValidStatus = #{validstatus,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        CreatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.wjysweb.web.bean.po.AddressManager" >
    update addressmanager
    set userID = #{userid,jdbcType=VARCHAR},
      Consignee = #{consignee,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      DetailedAddress = #{detailedaddress,jdbcType=VARCHAR},
      Label = #{label,jdbcType=VARCHAR},
      ValidStatus = #{validstatus,jdbcType=VARCHAR},
      CreatTime = #{creattime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>